<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
<div class="menuDiv">
    <ul>
        <li>
            <a href="#">菜单1</a>
            <ul>
                <li>1的二级菜单</li>
                <li>1的二级菜单</li>
                <li>1的二级菜单</li>
                <li>1的二级菜单</li>
            </ul>
        </li>
        <li>
            <a href="#">菜单2</a>
            <li>2的二级菜单</li>
            <li>2的二级菜单</li>
        </li>
        <li>
            <a href="#">菜单3</a>
            <li>3的二级菜单</li>
            <li>3的二级菜单</li>
            <li>3的二级菜单</li>
            <li>3的二级菜单</li>
        </li>
    </ul>
</div>
</body>
</html>